* {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: rgb(44, 41, 38);
  margin: 0;
}

header {
  height: 5rem;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  padding: 0px 5%;
  display: flex;
}

h1 {
  text-align: center;
  color: rgb(238, 164, 80);
  font-size: 3rem;
  font-weight: 700;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 200, "opsz" 48;
  color: white;
  font-size: 3rem;
}

.btn {
  color: white;
  background-color: rgb(228, 157, 44);
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
}

.btn:hover {
  background-color: rgb(255, 186, 57);
}

/* HEADER */

#main-header {
  background-color: rgb(29, 26, 24);
  justify-content: space-between;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);
}

#logo a {
  color: rgb(238, 164, 80);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
}

#main-nav ul {
  display: flex;
  justify-content: flex-end;
  margin: auto 0;
}

#main-nav li {
  margin-left: 1rem;
}

#main-nav a {
  font-size: 1.25rem;
  color: rgb(185, 131, 31);
}

#main-nav a:hover {
  color: rgb(238, 164, 80);
}

.menu-btn {
  display: none;

}


/* SIDE DRAWER */

#side-drawer {
  width: 100%;
  height: 100%;
  background-color: rgb(29, 26, 27, 0.9);
  display: none;
}

#side-drawer:target {
  display: block;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

#side-drawer header {
  justify-content: flex-end;
}

#side-drawer nav {
  padding: 1.25rem;
}

#side-drawer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
}

#side-drawer li {
  margin-bottom: 2rem;
}

#side-drawer a {
  font-size: 1.25rem;
  color: rgb(253, 239, 213);
  text-transform: uppercase;
}

#side-drawer a:hover {
  color: rgb(238, 164, 80);
}

/* MAIN */

main {
  margin-top: 3rem;
}

#latest-products {
  margin: 2rem auto;
  width: 80%;
}

#latest-products ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.food-item {
  background-color: rgb(228, 206, 182);
  border-radius: 6px;
  overflow: hidden;
  text-align: center;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);
}

.food-item img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.food-item h2 {
  margin: 0 0 1rem 0;
}


.item-content {
  min-height: 25%;
  padding: 1rem;
}

.item-content h2 {
  color: rgb(77, 77, 77);
  font-size: 2rem;
  font-weight: 700;
}

/* MEDIA QUERY */

@media (max-width: 48rem) {
  #main-nav {
    display: none;
  }

  .menu-btn {
    display: flex;
  }

  #latest-products ul {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 1.5rem;
  }
}
